# Ambiente virtual
venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs e arquivos temporários
*.log
*.tmp
*.bak

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de dados grandes (se você quiser manter fora do Git)
*.csv
*.xlsx

# IDEs (caso use VS Code)
.vscode/
.idea/
